ul{
  list-style-type:none;
  display: flex;
  gap: 2rem;

}
header {
  display: flex;
  padding: 1em;
  justify-content: space-between;
  padding-top: 0;
  margin-top: 0;
  padding-top: 1.5rem;
  padding-left: 1rem;
}

#first-part{
  display: flex;
  gap: 3rem;
  margin-left:2rem;
 
 font-size: 24px;
}
label{
  display: block;
  margin-bottom: 1rem;
  margin-top: 1rem;
  
  
}
#second-part{
  display: flex;
  gap: 3rem;
  margin-left:2rem;
 font-size: 24px;
}
.class{
  display: flex;
  flex-direction:row;
  margin-top: 1rem;
  margin-left: 3rem;
  gap: 7rem;
}
.line{
  border-left: 2px solid rgb(182, 171, 171);
  margin-left: 2rem;
}

textarea{
  
  margin-left:2rem;
  outline: none;
  resize: none;
  padding-right: 3rem;
}
.what{
  margin-left:2rem;
  font-size: 24px;
}

  
  
.logoo{
  display: flex;
   
  padding-left: 0.5rem;}
button{
  margin-left: 8rem;
 padding-left: 4rem;
 padding-right: 4rem;
 padding-top: 0.5rem;
 padding-bottom: 0.5rem;
 
 font-size: 17px;
 color: white;
 border: none;
 background-color: rgb(51, 69, 54);
 margin-top: 1rem;
 border-radius: 3px;
 
}
button:hover{
  cursor:alias;
}
ol{
  display:flex;
  flex-direction: column;
  list-style-type: none;
}
.tell, .map, .email{
  display: flex;
  justify-content:baseline;
  gap: 4rem;
  padding-top: 1rem;
  
}
img{
  margin-left: 0;
  padding-left: 0%;
}
.lorem{
  font-size: 18px;
}
a{
  text-decoration: none;
  color: black;
  
  
  font-weight: 900;
  
}
p{
text-align: left ;
justify-content: center;
display: inline-block;
}

.lorem{
  width: 60%;
}
footer{
  font-family: sans-serif;
  color: rgb(0, 0, 0, .70);
  margin-left: 1rem;
}
#ul{
  list-style-type: none;
  display: flex;
  gap: 1rem;
  margin-left: 6rem;
}
@media screen and (max-width: 1050px) {
 .class{
 flex-direction: column;
 
   
    margin-top: 0.5rem;
    margin-left: 0.2rem;
    
 }
 button{
  margin-left:4rem ;
 }
 input{
  width: 270px;
  padding: 1em;
 }
 .lorem{
  font-size: 22px;
 }
 
 }
 .logoo{
 
 flex-direction: row;
 margin-left: 9rem;
 gap: 1rem;
font-size: 22px;
 
 }
 #logooo{
  margin-left: 2rem;
 }
 textarea{
  width: 80%;
  resize: none;
  
 }
.lorem, h1{
  margin-left: 2rem;
}

@media screen and (max-width:730px) {
  #dotts{
      display: none;}
      #first-part {
        flex-direction: column;
      gap: 0;
      font-size: 24px;
      }
      .what{
        font-size: 24px;
      }
      #second-part{
        flex-direction: column;
        gap: 0;
        font-size: 24px;
      }
  .lorem{
    font-size: 25px;
  }
}



.email{
  word-spacing: 0.8rem;
}
.tell{
  word-spacing: 0.5rem;
}
header{
  padding-bottom: 3.5rem;
}
/*hamburger menu*/
.menu-icon{
  width: 45px;
  height: 4px;
  margin-top: 3px;
  background: #000000;
 
 border-radius: 4px;
 position: relative;
}
.menu{
  transition: right 2.5s ease-in-out;
  right: -300px;
}
.toggle-menu{
  opacity: 0;
  cursor: pointer;
  position: fixed;
}
@media screen and (max-width:730px) {
  .menu-icon{
      display: block;
     transition: 0.4s ease-in-out;
    
    
  }
.menu{ display: none;
}


.menu a{

  color: white;
}
.toggle-menu{
 z-index: 3;
 
  width: 40px;
 height: 32px;
}
.navigation input:checked ~ .menu-icon {
  transform: rotate(45deg);
 background: #ffffff;
 z-index: 1;
top:1rem;

}

.navigation input:checked ~ .menu-icon:nth-last-child(2){
  opacity: 0;
 
}

.navigation input:checked ~ .menu-icon:nth-last-child(3){
  transform: rotate(-45deg);
 
}
.navigation input:checked ~ .menu{
display: block;
background: #1f1f1f;
color: white;
position: absolute;
top: 0;
right: 0.1em;


}
.navigation{
  margin-top: 1em;
}
a:hover{
  color: #b99442;
  transition: 0.1ms ease-in-out;
}
.menu li{
  padding: 3.2rem;
 padding-right: 5rem;

}
.navigation input:checked ~ #hero-illu {
  padding-top: 10em;
}
}
.navigation input:checked ~ ul
{
 transform: none;
}